@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", Arial, sans-serif;
}

.novedades-idioma {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222222;
  color: #f3f3f3;
  font-size: 0.8rem;
  padding: 0.2rem 3rem;
}

.idioma {
  display: flex;
  gap: 0.5rem;
  width: 8rem;
  justify-content: space-around;
}

.idioma select {
  border-radius: 0.3rem;
  background-color: #222222;
  border: none;
  color: white;
  cursor: pointer;
}

.encabezado {
  display: flex;
  height: 3rem;
  justify-content: space-between;
  align-items: center;
  background-color: #f0a83e;
  color: #f3f3f3;
  padding: 0.5rem 4rem;
}

.logo {
  display: flex;
  align-items: center;
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;
  padding-right: 2px; /*separa el logo del perro del texto*/
}

h1 span {
  color: #3c2313;
}

.nav-bar ul {
  display: flex;
  list-style: none;
  gap: 1rem;
}

.nav-bar ul li a {
  font-size: 1rem;
  font-weight: 400;
  padding: 1rem 0.5rem;
  text-decoration: none;
  color: #ffffff;
}

.nav-bar ul li a:hover {
  background-color: #f5c681;
  font-weight: 700;
}

.nav-bar .icono-menu {
  display: none;
}

.inicio {
  display: flex;
  background-image: url("../images/bowl-and-pet-daities-on-green-background 1.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 6rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.inicio .container h2 {
  background-color: white;
  text-align: center;
  color: #3c2313;
  font-size: 2rem;
  font-weight: 400;
  padding: 0.7rem;
  border-radius: 0.7rem;
}

.inicio .container p {
  color: #3c2313;
  font-weight: 400;
}

.btn-comederos {
  background-color: #f0a83e;
  color: white;
  height: 3rem;
  width: 10rem;
  border: none;
  border-radius: 0.7rem;
}

.btn-comederos:hover {
  cursor: pointer;
  border: 0.1rem solid rgba(255, 255, 255, 0.5);
}

.productos {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
}

.productos h2 {
  color: #3c2313;
  font-size: 3rem;
  font-weight: 700;
  margin: 1rem 0;
  text-align: center;
}

.productos ul {
  display: flex;
  list-style: none;
  gap: 5vw;
  margin-bottom: 7vh;
}

.productos ul li a {
  text-decoration: none;
  color: #3c2313;
}

.productos ul li a:hover {
  font-size: 1.1rem;
  font-weight: 600;
}

.articulos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 10vh;
}

.articulo {
  background-color: #fbfaf6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
}

.articulo p {
  color: #3c2313;
  font-weight: 700;
}

.articulo .precio {
  color: #f0a83e;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formulario h2 {
  color: #3c2313;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.formulario form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.formulario input {
  width: 400px;
  background-color: #3c2313;
  color: #ffffff;
  border: none;
  border-radius: 1rem;
  padding: 1rem 0.7rem;
  font-size: 1rem;
}

form .contenedor-btns {
  display: flex;
  gap: 1rem;
  margin-top: 3vh;
}

.formulario button {
  border: none;
  border-radius: 1rem;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.5rem 1rem;
  width: 150px;
  height: 5vh;
  color: #ffffff;
}

.formulario button:hover {
  cursor: pointer;
  border: 0.1rem solid rgba(0, 0, 0, 0.25);
}

.btn-reset {
  background-color: #8a8787;
}

.btn-enviar {
  background-color: #f0a83e;
}

.novedades {
  display: flex;
  flex-wrap: wrap;
  background-color: #f0a83e;
  color: #ffffff;
  padding: 1rem 2rem;
  align-items: center;
  justify-content: space-between;
  margin-top: 10vh;
}

.novedades h2 {
  flex-grow: 1;
  margin-left: 0.7rem;
}

.novedades form {
  display: flex;
  gap: 1rem;
}

.novedades input {
  background-color: #ffffff;
  border: none;
  border-radius: 1rem;
  width: 200px;
  padding: 1rem 0.7rem;
}

.novedades .btn-suscribir {
  border: 1px solid #3c2313;
  border-radius: 1rem;
  background-color: #3c2313;
  color: #ffffff;
  padding: 1rem 1rem;
  font-weight: 700;
}

.novedades .btn-suscribir:hover {
  cursor: pointer;
  border: 1px solid #ffffff;
}

.contacto {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #3c2313;
  color: #ffffff;
  padding: 2rem 5rem;
}

.contacto > .container-contactos {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.container-contactos .pin {
  display: flex;
  align-items: center;
}

.container-contactos .texto-pines {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}

.texto-pines p {
  color: #8a8787;
  font-weight: 400;
}

.contacto > .logo h1 {
  color: #f0a83e;
}

.contacto > .logo span {
  color: #ffffff;
}

footer > p {
  background-color: #222222;
  color: #ffffff;
  text-align: center;
}

@media (max-width: 800px) {
  .novedades-idioma {
    display: none;
  }

  .nav-bar ul {
    display: none;
  }

  .nav-bar .icono-menu {
    display: block;
  }

  .inicio {
    align-items: center;
    padding-right: 0;
  }

  .inicio .container p {
    color: #ffffff;
  }

  .formulario input {
    width: 50vw;
  }

  .formulario button {
    width: 25vw;
  }

  .novedades {
    justify-content: center;
  }

  .novedades h2 {
    flex-grow: 0;
  }

  .novedades input {
    width: 50vw;
  }
}

@media (max-width: 600px) {
  .contacto {
    flex-direction: column-reverse;
    gap: 1rem;
    align-items: center;
  }
}
